.hero-wrapper{
    text-align: center;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    color: #ffffff;
}
.hero-wrapper .hero-des span{
    color: #b5b2ad;
}
.hero-wrapper .Numbers{
    justify-content: space-between;
    color: #ffffff;
}
.hero-wrapper .hero-main .hero-title h1{
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.hero-wrapper .hero-main .hero-des p{
    color:  #979797;
    line-height: 2em;
    padding: 10px 0;
}
.hero-wrapper .hero-main input{
    border-radius:  30px 0px 0px 30px;
    background-color: #504f4f;
    border: none;
    color: #9a9797;
    padding: 18px 35px;
    padding-right: 200px;
}

input[placeholder]:focus::-webkit-input-placeholder {
  font-size: 0.75em;
  color: #9a9898;
  -webkit-transition: all 0.225s ease;
  transition: all 0.225s ease;
}

.hero-wrapper .hero-main input::placeholder{
    color: #9a9898;
}
.hero-wrapper .hero-main select{
    background-color: #504f4f;
    color: #9a9797;
    border-radius:  0px 30px 30px 0px;
    padding: 20px 15px;
    border-left: solid;
    border-width: 0px 0px 0px 1px;
    border-color: #9a9797;;
}

.hero-wrapper .hero-main .new-row{
    justify-content: center;
    margin-top: 30px;
}

.hero-wrapper .hero-main .check-boxes .vendor {
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: 370px;
    top: 580px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }

.hero-wrapper .hero-main .check-boxes .amazon{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: 530px;
    top: 580px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    font-style: normal;
}

.hero-wrapper .hero-main .check-boxes #amazon{
    position: absolute;
    left: 490px;
    top: 590px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;

}

  .hero-wrapper .hero-main .check-boxes .walmart{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: 687px;
    top: 580px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    font-style: normal;
  }

  .hero-wrapper .hero-main .check-boxes #walmart{
    position: absolute;
    left: 650px;
    top: 590px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }

  .hero-wrapper .hero-main .check-boxes .costco{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: 856px;
    top: 580px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    font-style: normal;
  }

  .hero-wrapper .hero-main .check-boxes #costco{
    position: absolute;
    left: 820px;
    top: 590px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }

  .hero-wrapper .hero-main .check-boxes .dollartree{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    font-weight: 500;
    text-transform: uppercase;
    position: absolute;
    left: 1012px;
    top: 580px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
    font-style: normal;
  }

  .hero-wrapper .hero-main .check-boxes #dollartree{
    position: absolute;
    left: 980px;
    top: 590px;
    width: min-content;
    height: min-content;
    white-space: nowrap;
    flex-direction: column;
  }

  .hero-wrapper .hero-main .check-boxes input {
    transform: scale(1.5);
}

/* .submit-button{
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
} */