.contact-container{
    justify-content: center;
}

.contact-wrapper .contact-container .title{
    color: #09dd09;
    text-transform: uppercase;
}
.contact-wrapper .contact-container form{
    max-width: 400px;
    margin: 0 auto;
    color: #09dd09;
  }

  input::placeholder{
    color: #09dd09;
  }

  input,
  textarea {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  input[type="checkbox"] {
    display: inline-block;
    margin-right: 5px;
  }
  