.h-container{
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 1300px;      
    margin: 0 auto;
    padding: 3em 0.938em;
}

.h-wrapper .flex-row{
    align-items: center;
    justify-content: space-between;
}

body .h-wrapper .menu ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

body .h-wrapper .menu ul li a{
    margin-left: 40px;
    font-size: 25px;
    font-weight:500;
    color: #ffffff;
}

body .h-wrapper .menu ul li a.active{
    color: #05d405;
}

body .h-wrappper .flex-row{
    align-items: center;
    justify-content: space-between;
}

body .h-wrapper .logo{
    display: flex;
    align-items: center;
}

body .h-wrapper .logo h1 a{
    font-size: 25px;
    color: #ffff;
    font-weight:500;
}

body .h-wrapper .logo h1 a:hover{
    color: #05d405;
}

body .h-wrapper .logo img{
    margin-right: 10px;
}

body .h-wrapper .menu ul li>*:hover{
    color: #05d405;
}

body .h-wrapper .menu-icon{
    display: none;
}

@media (max-width : 820px) { 
    body .h-wrapper  .menu-icon{
        display: block;
    }
    body .h-wrapper .menu ul{
        color: #ffff;
        position: absolute;
        top: 3rem;
        right: 4rem;
        background: transparent;
        flex-direction: column;
        font-weight:500;
        gap: 1rem;
        padding: 2rem;
        transition: all 400ms ease-in;
    }
    body .h-wrapper .h-container .logo h1{
        display: none;
    }
}

body .flex-row{display: flex; flex-direction: row; flex-wrap: wrap;}
body .flex-row .col-1{flex: 0 0 8.34%; width: 8.34%;}
body .flex-row .col-2{flex: 0 0 16.67%; width: 16.67%;}
body .flex-row .col-3{flex: 0 0 25%; width: 25%;}
body .flex-row .col-4{flex: 0 0 33.33%; width: 33.33%;}
body .flex-row .col-5{flex: 0 0 41.66%; width: 41.66%;}
body .flex-row .col-6{flex: 0 0 50%; width: 50%;}
body .flex-row .col-7{flex: 0 0 58.33%; width: 58.33%;}
body .flex-row .col-8{flex: 0 0 66.66%; width: 66.66%;}
body .flex-row .col-9{flex: 0 0 75%; width: 75%;}
body .flex-row .col-10{flex: 0 0 83.33%; width: 83.33%;}
body .flex-row .col-11{flex: 0 0 91.66%; width: 91.66%;}
body .flex-row .col-12{flex: 0 0 100%; width: 100%;}